@import './bootstrap-ext-all';

html {
    height:100%;
    --border-color: #ccc;
}
html body {
    //background: linear-gradient(to bottom right, #ffffff, rgba(42, 159, 214, .1));
    background-color: #f3f3f3;
}
.pointer {
    cursor: pointer;
}

.head {
    padding: .5em;
    margin-top:1em;
    background: #2a9fd6;
}
.head h4 {
    color:#fff;
    margin:0;
}
.main-header {
    padding: .5rem 1rem;
}
.banner {
    //height: 300px;
    //width: 100%;
    //background-image: url('/assets/new_year_2021.png');
    //background-size: 100%;
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-blend-mode: multiply;
    margin-bottom: .3em;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}
.my-table-wrapper {
    overflow-x: auto;
    .my-table {
        font-size: .8em;

        .header {
            font-size: .9em;
            vertical-align: bottom;
            //border-bottom: 1px solid #dee2e6;
            padding: .75rem;
            background: #e5e5e5;
            //-webkit-border-radius: .5em;
            //-moz-border-radius: .5em;
            //border-radius: .5em;
            color: #727272;

            .row {
                margin: 0 -0.75rem;

                .my-th {
                    font-weight: bold;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0
                    }

                    .caret {
                        position: absolute;
                        margin-left: 5px;
                    }
                }

                .divider {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        border-right: 1px solid #ccc;
                    }
                }
            }
        }

        .body {
            color: #000;

            .my-tr {
                background: #ffffff;
                //border: 1px solid #e5e5e5;
                //-webkit-border-radius: .5em;
                //-moz-border-radius: .5em;
                //border-radius: .5em;
                padding: .3em 0.95rem;
                margin: .5em 0;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;

                .my-td {
                    padding: .707rem;
                    vertical-align: top;
                    //border-top: 1px solid #dee2e6;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: bold;

                    a {
                        color: inherit;
                    }

                    span[class*='wallet-icon-'] {
                        display: inline-block;
                        height: 32px;
                        width: 32px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .my-td-with-icon {
                    padding: .307rem;
                }

                .my-td-chart {
                    padding: .707rem;
                    height: 100%;
                    //min-height: 40px;
                    @media (min-width: 992px) {
                        padding: .307rem;
                    }
                }

                @media (min-width: 992px) {
                    .divider {
                        &:after {
                            content: '';
                            position: absolute;
                            top: 20%;
                            bottom: 20%;
                            right: 0;
                            border-right: 1px solid #ccc;
                        }
                    }
                }
            }
        }
    }

    .fixed-table-width {
        min-width: 1085px;

        .fixed-column {
            position: sticky;
            left: 0;
            z-index: 1;
            background: #fff;
        }

        .header {
            .fixed-column {
                background: #e5e5e5;
            }
        }

        .unfixed-column {
            position: relative;
        }
    }
}
span[class*='users_tx_weekly-'] {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 150px;
}
.jqstooltip{width:fit-content !important; height:fit-content !important}

.banner {
    position: relative;
    overflow: hidden;
    .bird {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
        background-size: auto 100%;
        width: 88px;
        height: 125px;
        will-change: background-position;

        animation-name: fly-cycle;
        animation-timing-function: steps(10);
        animation-iteration-count: infinite;

        &--one {
            animation-duration: 1s;
            animation-delay: -0.5s;
        }

        &--two {
            animation-duration: 0.9s;
            animation-delay: -0.75s;
        }

        &--three {
            animation-duration: 1.25s;
            animation-delay: -0.25s;
        }

        &--four {
            animation-duration: 1.1s;
            animation-delay: -0.5s;
        }

    }

    .bird-container {
        position: absolute;
        top: 20%;
        left: -10%;
        transform: scale(0) translateX(-10vw);
        will-change: transform;

        animation-name: fly-right-one;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &--one {
            animation-duration: 15s;
            animation-delay: 0;
        }

        &--two {
            animation-duration: 16s;
            animation-delay: 1s;
        }

        &--three {
            animation-duration: 14.6s;
            animation-delay: 9.5s;
        }

        &--four {
            animation-duration: 16s;
            animation-delay: 10.25s;
        }

    }

    @keyframes fly-cycle {

        100% {
            background-position: -900px 0;
        }

    }

    @keyframes fly-right-one {

        0% {
            transform: scale(0.3) translateX(-10vw);
        }

        10% {
            transform: translateY(2vh) translateX(10vw) scale(0.4);
        }

        20% {
            transform: translateY(0vh) translateX(30vw) scale(0.5);
        }

        30% {
            transform: translateY(4vh) translateX(50vw) scale(0.6);
        }

        40% {
            transform: translateY(2vh) translateX(70vw) scale(0.6);
        }

        50% {
            transform: translateY(0vh) translateX(90vw) scale(0.6);
        }

        60% {
            transform: translateY(0vh) translateX(110vw) scale(0.6);
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(0.6);
        }

    }

    @keyframes fly-right-two {

        0% {
            transform: translateY(-2vh) translateX(-10vw) scale(0.5);
        }

        10% {
            transform: translateY(0vh) translateX(10vw) scale(0.4);
        }

        20% {
            transform: translateY(-4vh) translateX(30vw) scale(0.6);
        }

        30% {
            transform: translateY(1vh) translateX(50vw) scale(0.45);
        }

        40% {
            transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
        }

        50% {
            transform: translateY(0vh) translateX(90vw) scale(0.45);
        }

        51% {
            transform: translateY(0vh) translateX(110vw) scale(0.45);
        }

        100% {
            transform: translateY(0vh) translateX(110vw) scale(0.45);
        }

    }
}
