<div class="info-bar">
  <div class="info-bar__chain-info chain-info chain-with-version-and-protocol">
    <div class="chain-info__logo--{{data.wallet}} chain-info__logo"></div>
    <div class="chain-info__name">{{data.symbol | uppercase}} Coin</div>
    <div class="break"></div>
    <div class="version-and-protocol">
      <div class="tiny"><span class="block with-border"><span>version:</span>{{preetyVersion}}</span> <span class="block"><span>protocol:</span>{{data.stats.protocol}}</span></div>
    </div>
  </div>

  <div class="info-bar__stats stats">
    <div class="stats__row">
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.difficulty | number:'1.0-0'}}</div>
          <div class="stats__label">Difficulty</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.moneysupply | number:'1.0-3'}}</div>
          <div class="stats__label">Coin Supply</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.hashrate | number:'1.0-0'}} (GH/s)</div>
          <div class="stats__label">Network</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number" *ngIf="data.stats.masternodesCount">{{data.stats.masternodesCount.total}}/{{data.stats.masternodesCount.enabled}}</div>
          <div class="stats__number" *ngIf="!data.stats.masternodesCount">0/0</div>
          <div class="stats__label">Masternodes <span class="tiny">(total/enabled)</span></div>
        </div>
      </div>
    </div>
  </div>

<!--  <header-chart class="info-bar__chart"></header-chart>-->
</div>
