<div class="info-bar">
  <div class="info-bar__chain-info chain-info">
    <div class="chain-info__logo--{{data.wallet}} chain-info__logo"></div>
    <div class="chain-info__name">{{data.wallet | uppercase}} Coin</div>
  </div>

  <div class="info-bar__stats stats">
    <div class="stats__row">
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.difficulty | number:'1.0-0'}}</div>
          <div class="stats__label">Difficulty</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.moneysupply | number:'1.0-0'}}</div>
          <div class="stats__label">Coin Supply</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.hashrate | number:'1.0-0'}} (GH/s)</div>
          <div class="stats__label">Network</div>
        </div>
      </div>
      <div class="stats__box">
        <div class="stats__content">
          <div class="stats__number">{{data.stats.masternodesCount.total}}/{{data.stats.masternodesCount.enabled}}</div>
          <div class="stats__label">Masternodes</div>
        </div>
      </div>
    </div>
  </div>

  <header-chart class="info-bar__chart"></header-chart>
</div>
