.info-bar {
  background: #fff;
  border: 1px solid #EAEBF1;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 24px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.search {
  .input-group-text {
    cursor: pointer;
    background: #fff;
  }
  input {
    border-right: none;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  input:focus ~ .input-group-append {
    .input-group-text {
      border-color: #80bdff;
    }
  }
}

.box {
  font-size: 1.145em;
  text-align: center;
  .header {
    font-weight: 600;
  }
  .amount {
    color: rgb(153, 153, 153);
  }
  &:not(.box-no-border)::before {
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    content: "";
  }
}

.my-th {
  cursor: pointer;
}

@import "../../../config";

.info-bar {
  background: @primary-bg-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  padding: 8px 16px;
  margin: 24px 0;

  display: flex;
  align-items: center;

  &__chart {
    flex: 0 0 auto;
    width: 400px;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
  }

  &__chain-info {
    flex: 0 0 auto;
  }

  &__stats {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    padding-left: 16px;
  }
  .tiny {
    font-size: .7em;
    text-transform: lowercase;
  }
}

.stats {
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
  }

  &__number {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:  relative;

    padding: 8px 24px;
    text-align: left;

    &:not(:first-child)::before {
      position: absolute;
      left: 0;
      top: 12px;
      bottom: 12px;
      border-left: 1px solid rgba(0, 0, 0, .1);
      content: "";
    }
  }
}

.chain-info {
  padding: 20px 0;
  display: flex;
  align-items: center;

  &__logo {
    display: inline-flex;
    height: 32px;
    width: 32px;
    margin-right: 8px;

    &--fix {
      background: url(../../../assets/icons/fix.svg);
    }

    &--dogecash {
      background: url(../../../assets/icons/dogec.svg);
    }

    &--stream {
      background: url(../../../assets/icons/stream.svg);
    }

    &--trittium {
      background: url(../../../assets/icons/trtt.svg);
    }

    &--twins {
      background: url(../../../assets/icons/twins.svg);
    }
  }

  &__name {
    font-size: 1.25rem;
  }
}

@media (max-width: 1240px) {
  .stats {
    &__row {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);
    }

    &__box:nth-child(even) {
      align-items: flex-start;
      text-align: left;
    }

    &__box:nth-child(odd) {
      align-items: flex-end;
      text-align: right;

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 980px) {
  .info-bar {
    flex-direction: column;
  }

  .stats {
    &__row {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);
    }

    &__box:nth-child(even) {
      align-items: flex-start;
      text-align: left;
    }

    &__box:nth-child(odd) {
      align-items: flex-end;
      text-align: right;

      &::before {
        display: none;
      }
    }
  }
}

