.info-bar {
  background: #fff;
  border: 1px solid #EAEBF1;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 24px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.search {
  .input-group-text {
    cursor: pointer;
    background: #fff;
  }
  input {
    border-right: none;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  input:focus ~ .input-group-append {
    .input-group-text {
      border-color: #80bdff;
    }
  }
}

.box {
  font-size: 1.145em;
  text-align: center;
  .header {
    font-weight: 600;
  }
  .amount {
    color: rgb(153, 153, 153);
  }
  &:not(.box-no-border)::before {
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    content: "";
  }
}

.my-th {
  cursor: pointer;
}
