/* You can add global styles to this file, and also import other style files */
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import "config";

html {
  height:100%;

  body {
    //background: linear-gradient(to bottom right, #ffffff, rgba(42, 159, 214, .1));
    background-color: @body-background-color;
    overflow-y: scroll;
    padding-top: @header-height;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;
}

.head {
  padding: .5em;
  margin-top:1em;
  background: #2a9fd6;
  h4 {
    color:#fff;
    margin:0;
  }
}
.my-table {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-top: 1px solid #dcdcdc;
  .header {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    padding: .75rem;
    .row {
      margin: 0 -0.75rem;
    }
  }
  .body {
    position: relative;
    //padding: 0 .75rem;
  }
  .my-tr {
    border-top: 1px solid #dee2e6;
    padding: 0 0.75rem;
    .row {
      margin: 0 -0.75rem;
    }
  }
  .my-th {
    font-weight: bold;
  }
  .my-td {
    padding: .75rem;
    vertical-align: top;
    //border-top: 1px solid #dee2e6;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dev-fund {
    a {
      color: #74bd00;
    }
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 1;
  }
}

.my-table {
  border: 1px solid @border-color;
  background-color: @primary-bg-color;

  .header {
    background-color: @table-header;
    font-size: 14px;
    text-transform: uppercase;
    color: @primary-font-color;
    border-bottom: 0 none !important;
  }

  .my-tr {
    border-color: @border-color;

    &:hover {
      background-color: rgba(0, 0, 0, .01);
    }
  }

  &--no-header {
      border-top: 0 none !important;
  }
}

.nth-childes-width(@num,@limit:1) when (@num >= @limit) {
  @newNum : @num;
  @string : '';
  .buildString(@newNum, @string) when (@newNum >= @limit) {
    //@string = @string + '&:nth-child('+ @num - @newNum +'):nth-last-child('+ @newNum +'),';
    @small : @num - @newNum + 1;
    //& when(@num > @small) {
    &:nth-child(@{small}):nth-last-child(@{newNum}) {
      @size : 100 / @num;
      width:~'@{size}%';
    }
    .buildString(@newNum - 1, @string);
  }
  .buildString(@newNum, @string);
  .nth-childes-width(@num - 1);
}

.pagination:nth-child(1) {
  .page-item {
    //.nth-childes-width(12);
    .page-link {
      //padding: 5%;
    }
  }
  .input {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.force-visibility-hidden {
  visibility: hidden !important;
}

.head {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 2px;
  margin-top: 0;

  background-color: transparent;
  border-bottom: 0 none !important;

  h4 {
    color: @primary-font-color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
    .my-container-xl {
        max-width: 1280px !important;
        min-width: 1220px;
    }
}
