<div class="wrapper">
  <nav class="navbar my-navbar-expand navbar-light">
    <a class="app-header__logo"></a>
    <div class="app-header__divider"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#" [routerLink]="'/'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:true}">Explorer</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#" [routerLink]="'/richlist'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:true}">Richlist</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#" [routerLink]="'/masternodes'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:true}">Masternodes</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#" [routerLink]="'/movement'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:true}">Movement</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#" [routerLink]="'/api'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:true}">Api</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="header-menu__item" href="#"  [routerLink]="'/market'" [routerLinkActive]="'header-menu__item--active'" [routerLinkActiveOptions]="{exact:false}">Market</a>
        </li>
      </ul>
      <form class="header-search app-header__search" (ngSubmit)="onSearch()">
        <input class="header-search__input"
               type="text"
               name="main-search"
               placeholder="Search block height, block hash, tx hash or address"
               [(ngModel)]="search"
        />
        <button class="header-search__button input-group-text" type="submit"><span class="fa fa-search form-control-feedback"></span></button>
      </form>
    </div>
  </nav>
</div>

<info-bar></info-bar>

<div class="d-flex justify-content-center loader" *ngIf="searching">
  <div class="d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
