.apexcharts-toolbar-custom-icon {
  width: auto;
}
apx-chart {
  background: red;
  .custom-icon {
    width: auto;
    background: red;
  }
}

.apexcharts-custom-icon-button {
  width: auto !important;
}
.apexcharts-toolbar{
  max-width: 9999px !important;
}

.chart {
  position: relative;
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 1;
  }
}
